body {margin:0;
  overflow-y: hidden;
  background: rgb(110,217,255);
background: linear-gradient(117deg, rgba(110,217,255,1) 0%, rgba(156,201,251,0.6587009803921569) 57%, rgba(252,252,252,1) 100%);

}
.App{
  height: 100vh ;
 }
.header{
  background: none;
  transition:none;
  background: rgb(255,110,232);
background: linear-gradient(225deg, rgba(255,110,232,1) 0%, rgba(156,201,251,0.6587009803921569) 57%, rgba(252,252,252,1) 100%);
}
.header a{
  text-decoration: none;
}
h5,h1{
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(150, 160, 16), rgb(86, 178, 240));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
